html
    height: 100%

body 
    padding: 0
    margin: 0
    height: 100%
    background-color: $background-color
    color: $text-white
    font-family: $text-font
    font-weight: 100
    line-height: 1.3em
    

h1
    color: $yellow
    font-family: $title-font
    font-weight: 100
    font-size: 85px

h2
    color: $text-white
    font-family: $text-font
    font-size: 20px
    margin-top: 0
    font-weight: lighter

h3
    font-size: 16px
    font-weight: inherit