@media screen and (min-width: 550px)
    #main-section
        padding: 0 20% 0 20%
    #showcase h1
        font-size: 130px
        text-align: left
    #header,
    #text
        text-align: left
        padding: 0
    