#main-section
    padding: 1em
    display: flex
    flex-direction: column

#showcase
    flex-basis: auto
    text-align: left

#header
    text-align: right
    padding-right: 1.5em

#text
    flex-basis: auto
    font-size: 16px
    text-align: justify
    padding: 0 2em 0 2em

//transition
.fade-enter-active
    transition: opacity 2.5s ease-in-out
    
.fade-leave-active
    transition: opacity 7s ease-out

.fade-enter
    opacity: 1
.fade-leave-to
    opacity: 0
